.idea/
data/wavs/
notebooks/.ipynb_checkpoints
notebooks/logs
notebooks/glove*.*
*/__pycache__
task_data.zip
data/train_data.csv
data/valid_data.csv
classifier.pkl
label_mapping.yml
tokenizer.pkl
saved_model/*/*
